* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

body {
    background: url(Background.png) center center no-repeat;
    background-color: #F0FBFF;
    background-size: 100% 100%;
    font-family: 'Geist', sans-serif;
    letter-spacing: -0.04em;
}

picture {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

a {
    text-decoration: none;
}

.navbar {
    width: 57%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 6px;
}

.logo-text {
    font-size: 24px;
    background: linear-gradient(to right, #5386FF, #00BFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.logo-text2 {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 700;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.header {
    font-size: clamp(2rem, 6vw, 4rem);
    font-weight: 700;
    margin-bottom: 7px;
}

.gradient-text {
    background: linear-gradient(to right, #5386FF, #00BFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-text {
    background: linear-gradient(to right, #444444, #555555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-text2 {
    background: linear-gradient(to right, #FF7700, #ffa95d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subheader {
    font-size: clamp(0.875rem, 2vw, 1rem);
    font-weight: 500;
    color: #6D6D6D;
    margin-bottom: 31px;
}

.buttons {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.cta {
    background: linear-gradient(to right, #5386FF, #00BFFF);
    border-radius: 32px;
    border-top: 2px solid #9AB8FF;
    border-bottom: 2px solid #2264FF;
    padding: 8px 24px;
    padding-right: 12px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    box-shadow: 0 2px 12px 0 #5386FF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.buttons .btn {
    gap: 12px;
}

.carousel {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.carousel-header {
    color: #6D6D6D;
    font-weight: 500;
    font-size: 16px;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.footer {
    width: 57%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: auto;
    padding: 1rem;
    margin-bottom: 64px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar,
.hero,
.footer,
.copyright {
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

.footer-link {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 500;
}

.copyright {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 4px;
}

.btn {
    background: rgba(250, 250, 250, 0.5);
    border-radius: 32px;
    backdrop-filter: blur(4px);
    border-top: 1px solid rgba(204, 204, 204, 0.5);
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    color: #888888;
    font-size: 16px;
    padding: 8px 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding-right: 16px;
    transition: color 0.4s ease;
}

.btn:hover {
    color: #a0a0a0;
    transition: color 0.4s ease;
}

@media (prefers-color-scheme: dark) {
    body {
        background: url(background-dark.png) center center no-repeat;
        background-color: #00050A;
        background-size: 100% 100%;
    }

    .btn {
        border-color: rgba(68, 68, 68, 0.5);
        background: rgba(10, 10, 10, 0.5);
        color: #D4D4D4;
    }

    .header-text {
        background: linear-gradient(to right, #EEEEEE, #DDDDDD);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .subheader {
        color: #D4D4D4;
    }

    .carousel-header {
        color: #D4D4D4;
    }

    .btn:hover {
        color: #eee;
    }
}

@media (max-width: 640px) {
    .footer {
        width: 100%;
    }

    .navbar {
        width: 90%;
    }

    .hero {
        text-align: center;
    }

    .subheader {
        margin-left: 24px;
        margin-right: 24px;
    }

    .footer {
        margin-bottom: 32px;
    }

    .mobile-hidden {
        display: none;
    }
}
